@charset "utf-8";

@media screen, projection
{
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 99%/*100%*/;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: right;
	margin-bottom: 0em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid rgba(255,255,255,.5);
	border-top: 0px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 0px solid rgba(255,255,255,.5);
	padding: 0em .55em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #13a;
}
.sf-menu li {
	/*background: #BDD2FF;*/
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #F8F8F8;
}
.sf-menu ul ul li {
	/*background: #FFFFFF;*/
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	/*background: #CFDEFF;*/
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}


.sf-menu.sf-menu-main a { color: #fff; font-size: 15px; font-weight: normal; text-transform: capitalize; padding: .25em 1.65em; /*letter-spacing:-.02em;*/ border: none; }
.sf-menu.sf-menu-main li li > a { font-size: 100%; font-weight: normal; text-transform: none; }

.sf-menu a.current,	
.sf-menu a:hover {border-bottom: 2px solid #FF9300; } 	
.sf-menu a.current { /*color: #FF9300 !important;*/ font-weight: 700; }

	
	
.sf-menu.sf-small { float: right; }	
.sf-menu.sf-small a { color: #ff9302; text-transform:capitalize; font-weight:normal; }
.sf-menu.sf-small li.sfHover { background: #f8f8f8; }
.sf-menu.sf-small a.current { color: #333333; font-weight:500; }

	.sf-menu.sf-small li.nav-right ul {left: -140px !important; width: 180px; background: #fff; }




/* ============================================================================================= */
/* @begin :: NAV_SF-MENU - DROP DOWN ARROWS (for all except IE7)
/* --------------------------------------------------------------------------------------------- */

ul.sf-arrows .sf-with-ul {
	padding-right: 15px;
	*padding-right: 15px; /* no CSS arrows for IE7 (lack pseudo-elements) */
}

ul.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 55%;
	/*bottom:0px;*/
	right: 2px;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 4px solid transparent;
	border-top-color: #b2b2b2; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(0,0,0,.3);
}

ul.sf-arrows > li > .sf-with-ul:focus:after,
ul.sf-arrows > li:hover > .sf-with-ul:after,
ul.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #b2b2b2; /* IE8 fallback colour */
}

/* styling for right-facing arrows */
ul.sf-arrows ul .sf-with-ul:after {
	top: 55%;
	right: 5px;
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #b2b2b2; 
	border-left-color: rgba(0,0,0,.3);
}
ul.sf-arrows ul li > .sf-with-ul:focus:after,
ul.sf-arrows ul li:hover > .sf-with-ul:after,
ul.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #b2b2b2;
}

ul.sf-arrows li.current a.sf-with-ul:after,
ul.sf-arrows a.current.sf-with-ul:after {
	border-top-color: #b2b2b2;
}

ul.sf-arrows li.current ul li > .sf-with-ul:after {
	border-color: transparent;
	border-left-color: #b2b2b2;
}





/*-------------------------------------------------------------------------------------------------------
@ SITE FONT RESIZE BUTTONS
-------------------------------------------------------------------------------------------------------*/
#fontsize { margin:0; padding:0;border-left: 1px solid rgba(255,255,255,0.2);}
#fontsize a{ border: 0px solid #ccc; padding: 0px 5px; text-decoration: none; /*font-size:110%; */font-weight: bold; display:inline-block; }
#fontsize a:hover{ background: #c62828; color: #fff; }


li.fontsize a{ font-weight: bold !important; float:left; padding-left:7px !important; padding-right:7px !important;}
li.fontsize a.fs-one { /*border-left: 1px dotted #FFB680;*/}






/* ============================================================================================= */
/* @begin :: NAV_CRUMBS
/* --------------------------------------------------------------------------------------------- */

/*.breadcrumb {
	background-color: #F5F5F5 ;
	border:solid 1px #F2EBA2 ;
	border-width:0px ;
	border-radius:0px 0px 3px 3px;
	margin-bottom: 0px;	
	color: #999;
	font-size: 90%;
	line-height: 1.5;
}
.breadcrumb a {display: inline-block; padding-left:0px; padding-right: 3px; text-decoration: none !important;}
.breadcrumb a.last {}
.breadcrumb a:hover {text-decoration:underline;}
.breadcrumbpadd {padding: 8px 12px; border:0px solid;}*/

.breadcrumb {
	background-color: #FFF !important;
}

/* ============================================================================================= */
/* @begin :: NAV_SIDE
/* --------------------------------------------------------------------------------------------- */

.nav_side, 
.nav_side li { list-style:none; padding:0; margin:0;}
.nav_side { padding: 0px 0px 10px 0; }
.nav_side li { border-bottom: 1px dotted #e5e5e5; padding-left:0px;  }
.nav_side a { text-decoration:none; /*font-size: 95%; */text-transform:capitalize; display:block; /*overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/ background: none; padding: 5px 10px; }
.nav_side a:hover { white-space:pre-line; overflow:visible; background: #F5F5F5; }

/*.nav_side li:hover {background:#F5CE69;}*/
.nav_side li.current {background:#E5F4EF;}
.nav_side li.current a { white-space:pre-line; overflow:visible; }
.nav_side li.separator { height:3px;margin:0px 0;overflow:hidden;background-color:#e5e5e5}

.nav_side.nav_profile a { text-transform: capitalize; font-size:inherit }
.nav_side li ul { margin-bottom:0; padding-bottom:0;}

#left-nav{ /*font-weight:bold;*/ }
#left-nav a{ text-decoration:none; }
#left-nav ul { margin:0; padding:0; list-style:none; }
#left-nav li { list-style:none; vertical-align:top; margin:0; padding: 0px 0px 0px 8px; }

#left-nav ul li a { font-size:105%; /*color:#669933;*/  }
#left-nav ul li { border-bottom: 1px dashed #D7C5AC; }

#left-nav ul li a.current,
#left-nav ul li.expanded a ,
#left-nav ul li ul li.selected a { color:#990000; }

#left-nav ul li ul li a { color:#D7C5AC; font-size:97.75%;/**/ font-weight:normal;  }
#left-nav ul li ul li { border-bottom:0px; border-top: 1px dotted #d7c5ac;  line-height:1.5;/**/  }

.cat-items li a { display:block; position:relative; width:100%; line-height:30px;}
.cat-items li a .cat-text {display:block; width:auto; border-right:36px solid #ADAB29; padding-right:10px; /*font-size:13px;*/ }
.cat-items li a .cat-count {display:inline-block; width:35px; position:absolute; right:0px; top:0px; border:0px solid; text-align:center; color:#FFF; font-weight:normal; /*font-size:13px;*/ }

.cat-items li a .cat-text.bg4 { border-color: rgb(227,6,19);}
.cat-items li a .cat-text.bg3 { border-color: #009900;}
.cat-items li a .cat-text.bg2 { border-color: #000;}

	


	
	

/*-------------------------------------------------------------------------------------------------------
@ SEARCH RESULTS
-------------------------------------------------------------------------------------------------------*/

.searchitem { border-bottom:1px solid #e5e5e5; padding: 10px 0px 8px 0px; display: block; }
.searchtitle {  margin:5px 0; color: #0C74BB; }
.searchtitlesub { color:#993333; font-size:11px; line-height:15px; padding: 1px 5px 3px 0; display:block;}

.paginator { border-top:1px dotted #dedede; margin:5px 0 5px; display:block; position:relative; background: none; padding: 10px; }
.paginator .paginate, .paginator .current, .paginator .inactive { font-size: .9em; display: inline; padding: 4px 6px 4px 6px;}
.paginator a { border: 1px solid #000080 !important; }
.paginator a.paginate {	text-decoration: none;	color: #000080; background-color:#FFFFFF; }
.paginator a.paginate:hover { background-color: #000080; color: #FFF; }
.paginator a.current { cursor: default;	background:#000080;	color: #FFF; text-decoration: none; }
.paginator span.inactive { border: 1px solid #999; color: #999; cursor: default; background-color:#FFFFFF;}
.paginator .pagejump { float:right;  }

.paginator select.paginate { padding: 4px 0 4px 3px !important; width:50px; }
.paginator select.paginate option { padding: 0 10px 0 3px !important; }
	
	
/* ============================================================================================= */
/* GALLERY COLUMNS
/* --------------------------------------------------------------------------------------------- */


ul.column.column_full li {
width: 100%/*33.3%*/; margin: 0 !important; padding: 0; display: inline-block; vertical-align:top; float: none; border:0px solid #03C;}

ul.column.column_full li div.block {
background: none; margin: 0px !important; padding-top:10px; padding-bottom:0px; padding: 5px !important; border:1px dotted #E5E6E7; border-width: 0px 0px 1px 0;}

ul.column.column_full li div.block .carChopa {
display: inline-block; float: left; border:1px solid #F9F9F9; width: 150px; height: 60px;}

ul.column.column_full li div.block .carTitle {
display: block; margin-left: 155px; border:0px solid #f00;}
	
	
/* ============================================================================================= */
/* @begin :: NAV RESOURCES
/* --------------------------------------------------------------------------------------------- */

.nav_dloads,
.cont_dloads {	border:0px solid #000; margin: 0px; padding: 0px 5px 0px 0;  }
.nav_dloads a  { display:block; padding-top:0px; padding-bottom: 3px; line-height: 150%; }
.nav_dloads li { border: none;  border-bottom:1px dotted #D2D2D2; padding:0; list-style: none; margin:0 0 3px;}


.cont_dloads li {	margin:0 0 10px; list-style: none;  }
.cont_dloads li a { padding-top:2px !important; padding-bottom:3px !important; font-size: 15px;  }

.nav_dloads > li:last-child,
.cont_dloads > li:last-child { border-bottom: none; }

/* ============================================================================================= */
/* GALLERY COLUMNS
/* --------------------------------------------------------------------------------------------- */	
	
/*.nav_dloads a[href^="http"],
.cont_dloads a[href^="http"]	
{ background:url(images/btn_external_link.png) 0px 1px no-repeat;padding-left:18px; background-size: 15px 16px; }*/
a.doc, a.docx, a.rtf
{ background:url(images/btn_doc.png) 0px 1px no-repeat;padding-left:18px; background-size: 14px ; }
a.ppt, a.pptx, a.pps 
{ background:url(images/btn_ppt.gif) 0px 1px no-repeat;padding-left:18px; background-size: 14px ; }
a.xls, a.xlsx, a.csv 
{ background:url(images/btn_xls.png) 0px 1px no-repeat;padding-left:18px; background-size: 14px ; }
a[href$=".pdf"], a.pdf 
{ background: url(images/btn_pdf.png) 0px 2px no-repeat; padding-left:18px;background-size: 12px ;} 	


/* ============================================================================================= */
/* @begin :: NAV_COLS_FOOT
/* --------------------------------------------------------------------------------------------- */

.nav_foot_col { display: inline-block; float:left;/**/ border:0px solid; width: 50%;/**/ }
/*.nav_foot_col ul li a { color: #775B20; }*/
.nav_foot_col ul { border:0px solid #F00 !important;}
.nav_foot_col ul li { /*float:left; width: 50%; display:inline-block;*/border:0px solid #ccc !important;}

/*.wrap_footer_guts a { color: #775B20; }*/
h5.foot_col_header { font-size:17px; font-weight: 100 !important; color:  #BC4B10;}



/* ============================================================================================= */
/* @begin :: NAV_FOOT - LINE
/* --------------------------------------------------------------------------------------------- */

.nav_foot_sml { padding-right: 0px;}
#nav_foot { float:right; margin:0 }
#nav_foot, #nav_foot li { list-style:none;  list-style-type:none;}
#nav_foot li { position: relative;float: left; padding:0; margin:0; }
#nav_foot li a
{ 	display: block;
	background: none; 
	padding: 2px 8px;
	border-right: 0px solid #999999;
	text-decoration: none;
	margin:0;
	color:#FFF;
}

#nav_foot li a:hover
{	color: #FC0;
}

#nav_foot > li:last-child a 
{	padding-right: 0px; border: none;
}





/* ============================================================================================= */
/* @begin :: BULLETS
/* --------------------------------------------------------------------------------------------- */

ul.bul-gry, ul.bul-gry.dark { border-top:0px solid #d7d7d7; margin:0; padding:0px;  }
ul.bul-gry li,
ul.bul-gry.dark li { list-style: none; list-style-image:url(../image/icons/arrow_blue.gif); border-bottom:0px dotted #d7d7d7;padding:0; margin:0; vertical-align:top; list-style-position:inside;}
ul.bul-gry li a, ul.bul-gry.dark li a {}
ul.bul-gry li a.current { /*list-style:none; margin-left:-20px; padding-bottom: 15px; border-bottom: none; list-style-position:outside*/ color: #C24D00; }
ul.bul-gry.dark li { list-style: none; border-bottom:1px dotted #d7d7d7;padding:0; 
/*margin:0 10px 0 0;*/ vertical-align:top; list-style-position:inside; 
background: url(../image/icons/bullet.gif) no-repeat 0px 9px; padding: 2px 15px 2px 8px;}

ul.bul-gry.dark li a { line-height:1;  text-decoration:none;}





}